html {
  font-family: 'Ubuntu', sans-serif;
  font-size: 100%;
  scroll-behavior: smooth;
}

body {
  /* Setting up the body stuff */
  background-image: linear-gradient( 360deg, rgba(35, 156, 236, 0.1), rgba(35, 156, 236, 0.5)), url(media/minecraft-1870748.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: inset 5px 0px 50px -2px #000000;
  font-size: 1rem;
  margin: 0;
}

#logo {
  width: 50%;
}

#header1 {
  /* Main header block for positioning */
  align-items: center;
  background: linear-gradient(360deg, rgba(39, 157, 235, 0), rgb(17, 97, 150));
  display: flex;
  flex-direction: column;
  left: 50%;
  position: fixed;
  transform: translate(-50%);
  width: 100%;
}
#green_bar {
  /*Header container */
  align-items: center;
  background: rgba(128, 255, 0);
  border-radius: 5px;
  box-shadow: 0px 9px 28px 0px rgba(0, 0, 0, 0.75);
  display: flex;
  flex-direction: row;
  height: 8vh;
  justify-content: center;
  max-width: 100vw;
}

#ipservidor {
  /*Ip del servidor nlock */
  align-items: center;
  display: flex;
  padding-left: 1vw;
  padding-right: 0.5vw;
}

#ipservidor a {
  /* Ip del servidor "link" */
  color: white;
  margin-left: 0.5vw;
  margin-right: 0.5vw;
  text-decoration: none;
  text-shadow: 0px 1px 10px #000000;
}

#navbar {
  /* Navbar container*/
  align-items: center;
  height: 100%;
  max-width: 100vw;
}

#navbar ul {
  /*Navbar Ul */
  align-items: center;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  height: 100%;
  list-style-type: none;
  margin: 0;
  max-width: 100%;
  overflow: hidden;
  padding-left: 0;
}

#navbar li {
  /*Navbar items */
  align-items: center;
  display: flex;
  flex-direction: row;
  font-size: 18.72px;
  height: 100%;
  margin-top: 0;
  padding: 0 1vw;
  transition: background 0.8s;
}

.navlinks {
  /*links from the navbar*/
  height: 100%;
  color: black;
  text-decoration: none;
  transition: background 0.8s;
}

.navlinks:hover {
  background: rgba(214, 255, 173, 0.774);
}

.disabled:hover {
  background: rgba(255, 0, 0, 0.5);
}

#home {
  align-items: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  text-align: center;
  width: 100%;
}

#intro {
  color: white;
  display: flex;
  flex-direction: row;
  font-size: 1.5em;
  margin-bottom: 10vw;
  margin-top: 15vw;
  width: 50vw;
  text-shadow: 0px 4px 20px rgba(0, 0, 0, 0.62);
}

#intro h3 {
  font-size: 32px;
}

.box {
  align-items: center;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0));
  border-radius: 25px;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  margin-top: 0.5em;
  padding-top: 0.5em;
}

.box p {
  font-size: 36px;
}

#status {
  align-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  display: flexbox;
  font-size: 18px;
  padding: 5px 5px;
  position: fixed;
  right: 2%;
  text-align: center;
}
/*Loading icon*/
.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 20px;
}
.lds-ellipsis div {
  position: absolute;
  top: 5;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}


#status_signal {
  
  border-radius: 50%;
  height: 10px;
  margin-right: 4px;
  width: 10px;
}

#status_color {
  align-items: center;
 
  display: flex;
  flex-direction: row;
}

.container_basic {
  display: flex;
  flex-direction: row;
  margin-top: 0.5em;
  width: 100%;
  align-items: center;
  padding-right: 0.5em;
}

#howto_texto {
  display: flex;
  flex-direction: row;
  font-size: 20px;
  height: 100%;
  justify-content: center;
  text-align: left;
  width: 30vw;
}

#howto_texto li {
  padding: 0.5em;
}

#gif1 {
  border-radius: 15px;
  width: 40vw;
}

#normativa {
  align-items: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  text-align: center;
  width: 100%;
}

#contacto {
  align-items: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  text-align: center;
  width: 100%;
}

.title {
  color: white;
  font-size: 36px;
  margin-top: 15vw;
}

#normas {
  list-style-type: square;
  text-align: left;
  width: 50vw;
}

#normas li {
  padding: 0.2em 0;
}

#discord_link {
  background: rgb(74, 255, 255);
  border-radius: 10px;
  margin-top: 3vh;
  padding: 15px;
  overflow: hidden;
  transition: 0.8s;
  width: 20%;
}

#discord {
  max-width: 100%;
}

#discord_link:hover {
  background: rgb(239, 249, 255);
}

#bottom_img {
  max-width: 30vw;
}

@media only screen and (max-width: 800px) {
  #main {
    overflow: hidden;
    width: 100vw;
  }
  #logo {
    max-height: 20vw;
    min-height: 10vw;
    padding: 0;
  }
  #header1 {
    height: auto;
    max-width: 100%;
    position: relative;
    width: 100%;
  }
  #status {
    font-size: 16px;
    height: auto;
    max-width: 100%;
    position: relative;
    right: 0;
  }
  #green_bar {
    flex-direction: column;
    height: auto;
    max-width: 100%;
    width: 100vw;
  }
  #ipservidor {
    flex-direction: column;
    height: auto;
    text-align: center;
  }
  #navbar ul {
    border-radius: 0;
    flex-direction: column;
    width: 100%;
  }
  #navbar li {
    border-top: 2px solid #082629;
    height: 45px;
    justify-content: center;
    width: 100vw;
  }
  .navlinks {
    width: 100%;
  }
  #inicio_link {
    border-top: 5px solid #1D591E;
  }
  #intro {
    margin-top: 2vh;
    width: 80%;
  }
  .box {
    padding: 0.5em 0 0.5em 0;
    width: 100%;
  }
  .container_basic {
    flex-direction: column;
    margin-top: 0;
    padding-right: 0;
  }
  #howto_texto {
    width: 100%;
  }
  #primero {
    padding-top: 0;
  }
  #gif1 {
    width: 98%;
  }
  .title {
    margin: 0.5em auto;
  }
  #normas {
    width: 90%;
  }
  #discord_link {
    width: 40%;
  }
  #bottom_img {
    min-width: 90vw;
  }
}