    html {
      scroll-behavior: smooth;
      font-size: 100%;
      font-family: 'Ubuntu', sans-serif;
    }

    body {
      /* Setting up the body stuff */
      margin: 0;
      font-size: 1rem;
      background-image: linear-gradient( 360deg, rgba(35, 156, 236, 0.1), rgba(35, 156, 236, 0.5)), url(media/minecraft-1870748.png);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      box-shadow: inset 5px 0px 50px -2px #000000;
    }

    #logo {
      width: 50%;
    }

    #header1 {
      /* Main header block for positioning */
      position: fixed;
      left: 50%;
      transform: translate(-50%);
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      background: linear-gradient(360deg, rgba(39, 157, 235, 0), rgb(17, 97, 150));
    }

    #green_bar {
      /*Header container */
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      height: 8vh;
      max-width: 100vw;
      background: rgba(128, 255, 0);
      box-shadow: 0px 9px 28px 0px rgba(0, 0, 0, 0.75);
      border-radius: 5px;
    }

    #ipservidor {
      /*Ip del servidor nlock */
      display: flex;
      align-items: center;
      padding-left: 1vw;
      padding-right: 0.5vw;
    }

    #ipservidor a {
      /* Ip del servidor "link" */
      text-decoration: none;
      margin-left: 0.5vw;
      margin-right: 0.5vw;
      color: white;
      text-shadow: 0px 1px 10px #000000;
    }

    #navbar {
      /* Navbar container*/
      max-width: 100vw;
      height: 100%;
      align-items: center;
    }

    #navbar ul {
      /*Navbar Ul */
      display: flex;
      flex-direction: row;
      list-style-type: none;
      height: 100%;
      max-width: 100%;
      padding-left: 0;
      margin: 0;
      border-radius: 5px;
      overflow: hidden;
      align-items: center;
    }

    #navbar li {
      /*Navbar items */
      display: flex;
      flex-direction: row;
      align-items: center;
      font-size: 18.72px;
      padding: 0 1vw;
      height: 100%;
      margin-top: 0;
      transition: background 0.8s;
    }

    .navlinks {
      /*links from the navbar*/
      height: 100%;
      text-decoration: none;
      color: black;
      transition: background 0.8s;
    }
    .navlinks:hover {
      background: rgba(214, 255, 173, 0.774);
    }
    .disabled:hover {
      background: rgba(255, 0, 0, 0.5);
    }

    

    #home {
      min-height: 100vh;
      width: 100%;
      display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
    }

    #intro {
      width: 50vw;
      display: flex;
      flex-direction: row;
      margin-top: 15vw;
      margin-bottom: 2vw;
      font-size: 1.5em;
      color: white;
      text-shadow: 0px 4px 20px rgba(0, 0, 0, 0.62);
    }

    #intro h3 {
      font-size: 32px;
    }

    .box {
      color: white;
      display: flex;
      flex-direction: column;
      margin-top: 0.5em;
      padding-top: 0.5em;
      align-items: center;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0));
      border-radius: 25px;
      font-size: 20px;

    }
    .box p {
      font-size: 36px;
    }

    .container_basic {
      display: flex;
      flex-direction: row;
      margin-top: 0.5em;
      width: 100%;
      align-items: center;
      padding-right: 0.5em;
    }

    #howto_texto {
      width: 30vw;
      height: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      text-align: left;
      font-size: 20px;
    }

    #howto_texto li {
      padding: 0.5em;
    }

    #gif1 {
      width: 40vw;
      border-radius: 15px;
    }
    #normativa {
      min-height: 100vh;
      width: 100%;
      display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
    }
    #contacto {
      min-height: 100vh;
      width: 100%;
      display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
    }
    .title {
      margin-top: 15vw;
      font-size: 36px;
      color: white;
    }
    #normas {
      width: 50vw;
      list-style-type: square;
      text-align: left;
    }
   #normas li {
     padding: 0.2em 0;
   }
   #discord_link {
    width: 20%;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 3vh;
    padding: 15px; 
    background:rgb(74, 255, 255);
    transition: 0.8s;
  }
  #discord {
    max-width: 100%;
    
    
  }
  #discord_link:hover {
    background: rgb(239, 249, 255);
  }


    @media only screen and (max-width: 800px) {
      #logo {
       min-height: 10vw;
        max-height: 20vw;
        padding: 0;
      }
      #header1 {
        position: relative;
        height: auto;
        width: 100%;
        max-width: 100%;
      }
      #green_bar {
        width: 100vw;
        max-width: 100vw;
        flex-direction: column;
        height: auto;
      }
      #ipservidor {
        height: auto;
        flex-direction: column;
        text-align: center;
      }
      #navbar ul {
        width: 100vw;
        flex-direction: column;
        border-radius: 0;
      }
      #navbar li {
        height: 45px;
        width: 100%;
        justify-content: center;
        border-top: 2px solid #082629;
      }
      .navlinks {
        width: 100%;
      }
      #inicio_link {
        border-top: 5px solid #1D591E;
      }
      #intro {
        width: 80%;
        margin-top: 2vh;
      }
      .box {
        padding: 0.5em 0 0.5em 0;
        width: 100%;
      }
      .container_basic {
        flex-direction: column;
        margin-top: 0;
        padding-right: 0;

      }
      #howto_texto {
        width: 100%;
      }
      
      #primero {
        padding-top: 0;
      }
      #gif1 {
        width: 98%;
      }
      .title {
        margin: 0.5em auto;
      }
      #normas {
        width: 90%;
      }
      #discord_link {
        width: 40%;
      }
 
    }
    
    
